{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Social Network: {{ appname }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'social/styles.css' %}" />
</head>
<body>
	<center>
	<canvas id='logo' width='624' height='96'> {{ appname }} </canvas>
	</center>
	{% if loggedin %}
    <div class='appname'>{{ appname }} ({{ username }}) </div>
	{% else %}
    <div class='appname'>{{ appname }}</div>
    {% endif %}
    <script src="{% static 'social/scripts.js' %}"></script>
	<br>
	<ul class='menu'>
		{% if loggedin %}
        <li><a href='/social/members/?view={{ username }}'>Home</a></li>
        <li><a href='/social/members/'>Members</a></li>
        <li><a href='/social/friends/'>Friends</a></li>
        <li><a href='/social/messages/'>Messages</a></li>
        <li><a href='/social/profile/'>Edit Profile</a></li>
        <li><a href='/social/logout/'>Log out</a></li></ul><br>	
		{% else %}
		<li><a href='/social/'>Home</a></li>
		<li><a href="/social/signup/">Sign up</a></li>
		<li><a href='/social/login/'>Log in</a></li>
		{% endif %}
	</ul>
	<br>
	{% block content %}
	{% endblock %}
	<br>
</body>
</html>